

/* Start:/bitrix/templates/main/components/bitrix/news.detail/detail_depo/style.css?1589292547111*/
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/templates/main/components/bitrix/news.detail/detail_depo/style.css?1589292547111 */
